.home-page .page-layout {
  padding: 20;
  border-radius: 8;
  background-color: "#f0f2f5";
  border: 2px solid #d1d5db; /* borda discreta */
}

.home-page .title {
  font-size: 28;
  font-weight: bold;
  margin-bottom: 12;
  color: #1f2937; /* cinza escuro */
  text-align: center;
}

.home-page.subtitle {
  font-size: 18;
  margin-bottom: 20;
  color: #4b5563; /* cinza médio */
  text-align: center;
}

.home-page .btn-label, .btn-button {
  background-color: #3b82f6; /* azul profissional */
  color: white;
  border-radius: 6;
  height: 45;
  margin-bottom: 10;
  font-size: 16;
  font-weight: bold;
  text-align: center;
}
